In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
path = 'results'
all_files = glob.glob(path + "/*.csv")

df = pd.read_csv(r'data/sample.csv',usecols=['img_name'])

for f in all_files:
    col_names=['img_name', f[8:-4]] 
    df_tmp = pd.read_csv(f,header=0, names=col_names)
    df = pd.merge(df, df_tmp, how='inner')
    
df

,img_name,KerasTransfer(EfficientNetE5)_68pct,KerasTransfer(Xception)_62pct,KerasTransfer(ResNet50v2)_53pct
0,test_1.jpg,15,15,1
1,test_2.jpg,60,60,60
2,test_3.jpg,9,72,4
3,test_4.jpg,65,65,65
4,test_5.jpg,57,2,2
...,...,...,...,...
7648,test_7649.jpg,9,21,41
7649,test_7650.jpg,33,33,69
7650,test_7651.jpg,36,36,75
7651,test_7652.jpg,47,47,47
7652,test_7653.jpg,44,44,68

In [3]:
mode = df.mode(axis=1)

df['majority'] = np.where(mode.isna().any(1), mode[0], df.iloc[:,1])
df

/home/mark/anaconda3/lib/python3.7/site-packages/pandas/core/algorithms.py:867: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn(f"Unable to sort modes: {err}")
/home/mark/anaconda3/lib/python3.7/site-packages/pandas/core/algorithms.py:867: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  warn(f"Unable to sort modes: {err}")

,img_name,KerasTransfer(EfficientNetE5)_68pct,KerasTransfer(Xception)_62pct,KerasTransfer(ResNet50v2)_53pct,majority
0,test_1.jpg,15,15,1,15
1,test_2.jpg,60,60,60,60
2,test_3.jpg,9,72,4,9
3,test_4.jpg,65,65,65,65
4,test_5.jpg,57,2,2,2
...,...,...,...,...,...
7648,test_7649.jpg,9,21,41,9
7649,test_7650.jpg,33,33,69,33
7650,test_7651.jpg,36,36,75,36
7651,test_7652.jpg,47,47,47,47
7652,test_7653.jpg,44,44,68,44

In [4]:
df['1=2'] = np.where(df.iloc[:,1] == df.iloc[:,2], True, False)
df['1=3'] = np.where(df.iloc[:,1] == df.iloc[:,3], True, False)
df['2=3'] = np.where(df.iloc[:,1] == df.iloc[:,2], True, False)
df['unanimous'] = np.where((df.iloc[:,1] == df.iloc[:,2]) & (df.iloc[:,1] == df.iloc[:,2]), True, False)


df

,img_name,KerasTransfer(EfficientNetE5)_68pct,KerasTransfer(Xception)_62pct,KerasTransfer(ResNet50v2)_53pct,majority,1=2,1=3,2=3,unanimous
0,test_1.jpg,15,15,1,15,True,False,True,True
1,test_2.jpg,60,60,60,60,True,True,True,True
2,test_3.jpg,9,72,4,9,False,False,False,False
3,test_4.jpg,65,65,65,65,True,True,True,True
4,test_5.jpg,57,2,2,2,False,False,False,False
...,...,...,...,...,...,...,...,...,...
7648,test_7649.jpg,9,21,41,9,False,False,False,False
7649,test_7650.jpg,33,33,69,33,True,False,True,True
7650,test_7651.jpg,36,36,75,36,True,False,True,True
7651,test_7652.jpg,47,47,47,47,True,True,True,True
7652,test_7653.jpg,44,44,68,44,True,False,True,True

In [5]:
df.describe(include='all')

,img_name,KerasTransfer(EfficientNetE5)_68pct,KerasTransfer(Xception)_62pct,KerasTransfer(ResNet50v2)_53pct,majority,1=2,1=3,2=3,unanimous
count,7653,7653.000000,7653.000000,7653.000000,7653.0,7653,7653,7653,7653
unique,7653,NaN,NaN,NaN,79.0,2,2,2,2
top,test_3157.jpg,NaN,NaN,NaN,29.0,True,True,True,True
freq,1,NaN,NaN,NaN,148.0,5008,4283,5008,5008
mean,NaN,40.116164,40.769241,39.881223,NaN,NaN,NaN,NaN,NaN
std,NaN,23.486874,23.460543,23.485337,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,19.000000,19.000000,18.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,41.000000,43.000000,41.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,60.000000,61.000000,60.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,80.000000,80.000000,80.000000,NaN,NaN,NaN,NaN,NaN

In [6]:
df.unanimous.value_counts()

True     5008
False    2645
Name: unanimous, dtype: int64

In [7]:
df['1=2'].value_counts()

True     5008
False    2645
Name: 1=2, dtype: int64

In [8]:
df['1=3'].value_counts()

True     4283
False    3370
Name: 1=3, dtype: int64

In [9]:
df['2=3'].value_counts()

True     5008
False    2645
Name: 2=3, dtype: int64

In [10]:
df_export = df[['img_name','majority']].copy()
df_export.rename(columns={"majority": "label"},inplace=True)
df_export

           img_name label
0        test_1.jpg    15
1        test_2.jpg    60
2        test_3.jpg     9
3        test_4.jpg    65
4        test_5.jpg     2
...             ...   ...
7648  test_7649.jpg     9
7649  test_7650.jpg    33
7650  test_7651.jpg    36
7651  test_7652.jpg    47
7652  test_7653.jpg    44

[7653 rows x 2 columns]

In [12]:
df_export.to_csv("results/results_ensemble.csv",index=False)